In [2]:
import pandas as pd
import numpy as np

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv("nba_data_processed.csv")

df.head()

df.info()

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  679 non-null    object
 1   Pos     679 non-null    object
 2   Age     679 non-null    float64
 3   Tm      679 non-null    object
 4   G       679 non-null    float64
 5   GS      679 non-null    float64
 6   MP      679 non-null    float64
 7   FG      679 non-null    float64
 8   FGA     679 non-null    float64
 9   FG%     676 non-null    float64
 10  3P      679 non-null    float64
 11  3PA     679 non-null    float64
 12  3P%     655 non-null    float64
 13  2P      679 non-null    float64
 14  2PA     679 non-null    float64
 15  2P%     672 non-null    float64
 16  eFG%    676 non-null    float64
 17  FT      679 non-null    float64
 18  FTA     679 non-null    float64
 19  FT%     642 non-null    float64
 20  ORB     679 non-null    float64
 21  DRB     679 non-null    float64
 22  TRB     679 non-null    float64
 23  AST     679 non-null    float64
 24  STL     679 non-null    float64
 25  BLK     679 non-null    float64
 26  TOV     679 non-null    float64
 27  PF      679 non-null    float64
 28  PTS     679 non-null    float64
dtypes: float64(26), object(3)
memory usage: 159.9+ KB

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,676.000000,679.000000,679.000000,655.000000,...,642.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000
mean,26.025037,43.337261,20.069219,19.464212,3.249337,6.921060,0.464241,0.996613,2.783063,0.329798,...,0.752586,0.842268,2.620324,3.461708,2.011782,0.601767,0.370545,1.067305,1.660825,8.859057
std,4.325709,24.729145,25.766359,9.415320,2.362501,4.795565,0.112790,0.862033,2.209284,0.128238,...,0.150094,0.731867,1.715881,2.281077,1.891335,0.392063,0.367465,0.799478,0.770299,6.630944
min,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,22.000000,0.000000,12.150000,1.500000,3.400000,0.415000,0.300000,1.000000,0.297000,...,0.686500,0.300000,1.400000,1.800000,0.800000,0.300000,0.100000,0.500000,1.200000,4.100000
50%,25.000000,45.000000,6.000000,18.800000,2.600000,5.700000,0.454000,0.800000,2.400000,0.349000,...,0.769000,0.700000,2.300000,3.000000,1.300000,0.500000,0.300000,0.900000,1.600000,6.900000
75%,29.000000,65.500000,36.500000,27.550000,4.200000,9.200000,0.506000,1.500000,4.150000,0.389000,...,0.844750,1.100000,3.400000,4.500000,2.700000,0.800000,0.500000,1.400000,2.200000,11.550000
max,42.000000,83.000000,83.000000,41.000000,11.200000,22.200000,1.000000,4.900000,11.400000,1.000000,...,1.000000,5.100000,9.600000,12.500000,10.700000,3.000000,3.000000,4.100000,5.000000,33.100000

705